* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
/* fon fameli */
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header {
  background-color: #1c1e53;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 130px;
}
.hader-top {
  margin-bottom: 126px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ul {
  display: flex;
  gap: 32px;
  margin-left: auto;
  cursor: pointer;
}
.ul li:hover {
  position: relative;
  top: -9px;
}
.ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.btn {
  font-family: "Poppins";
  border-radius: 48px;
  border: 2px solid #f4f6fc33;
  background: transparent;
  padding: 16px 48px;
  cursor: pointer;
  color: #fff;
  margin-left: 50px;
}
.btn:hover {
  position: relative;
  top: -5px;
}

/*==============header-tinner============*/
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-info {
  width: 582pxs;
}
.header-title {
  margin-bottom: 24pxs;

  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}

.header-text {
  width: 562px;
  margin-bottom: 48px;
}
.header-text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header-linc {
}
.header-btn {
  display: inline-block;
  border-radius: 41px;
  background: #fcd980;
  margin-right: 40px;

  color: #1b1c2b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;

  display: inline-flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
}

.header-links {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7px;
  position: relative;
}
.header-links::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 10px;
  background-image: url(/img/Arrow\ 1.png);

  right: -39px;
  bottom: 6px;
}

.header-imj {
  margin-top: 15px;
}

/*=====================section-============*/

.section__work {
  padding-top: 130px;
  padding-bottom: 130pxs;
  color: #282938;
}
.section__work-row {
  display: flex;
  gap: 142px;
}
.work-titl {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 16px;
}
.work-info {
  margin-bottom: 16px;
  width: 405px;
  color: #282938;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}
.work-link {
  color: var(--Royal-Blue, #2405f2);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}
.work-img {
}

/*==============прав блок=========*/

.section__work-cards {
  display: flex;
  flex-wrap: wrap;
  width: 656px;
}
.work-mask {
  display: block;
  margin-bottom: 16px;
}
.card-titl {
  margin-bottom: 8px;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
.card-info {
  width: 303px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 175% */
}
